/*
 Theme Name:     Astrum Child
 Description:    Astrum Child Theme - use to customize theme without loosing any changes after update
 Author:         You
 Template:       astrum-theme
 Version:        1.0
*/

/* =Imports styles from the parent theme
-------------------------------------------------------------- */
@import url('../astrum-theme/style.css');


/* =Theme customization starts here
-------------------------------------------------------------- */
.selectnav {
    width: 100%;
padding: 10px;
border: 1px solid #ddd;
display: none;
}